<script>
$(function() {
  $('#agree-and-send').attr("disabled", "disabled");

  $('#gentleman-agreement').change(function () {
    if ($('#gentleman-agreement')[0].checked == true) {
      console.log("just checked!");
      $('#agree-and-send').removeAttr("disabled");      
    }
    else {
      console.log("not checked");
      $('#agree-and-send').attr("disabled", "disabled");
    }
  });
});
</script>

<% page_header "Start Conversation" %>

<%if params[:recipient].to_s != current_user.id.to_s %>
    <b><i> <%= Giving.find_by_id(params[:subject]).name %> </i></b><br>
    <%= image_tag Giving.find_by_id(params[:subject]).image.url(:thumb), class: "mobile-image" %>
    <br>
    <div style="text-align: right; float: right">
      <div class="round-image-50">
        <a href="/profiles/<%= params[:recipient]%>">
          <%= image_tag(User.find_by_id(params[:recipient]).avatar.url(:thumb)) %>
        </a>
      </div>
      <%= User.find_by_id(params[:recipient]).name %>
      </div>

  <%= form_tag messages_path, method: :post do %>
    <div class="form-group">
      <%= text_field_tag 'message[subject]', nil, type: 'hidden', class: 'form-control', value: params[:subject], required: true %>
    </div>

    <div class="form-group">
      <%= text_area_tag 'message[body]', nil, cols: 3, rows: 4, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= text_field_tag 'recipients', nil, type: 'hidden', value: [params[:recipient]] %>
    </div>

    <!-- TODO: 
      1. Then check if the zip is not null
      2. show a modal asking zip and country to update profile?
      OR: render the location portion of the profile form and direct them back to message page
    -->

    <%if current_user.zip.nil? %>
      <div style="margin-bottom: 70px">
        <p style="color: #C16F4E"> Your profile doesn't have location details, please provide. (why) </p>
        <div class="col-xs-2 zip">
          <%= f.text_field :zip, nil, class: 'form-control', required: true %>
        </div>
        <div class="col-xs-1 country">
          <%= f.text_field :country, nil, list: 'country-list', class: 'form-control' %>
          <datalist id="country-list">
            <select>
              <option value="US"></option>
              <option value="UK"></option>
              <option value="India"></option>
            </select>
          </datalist>
        </div>
      </div>
    <% end %>

    <p> <label class="checkbox-text"><input type="checkbox" class="agreement" id="gentleman-agreement"> I agree to re-give this in 
      <% @wish = Giving.find_by_id(params[:subject]).wish %>
      <% if Giving.find_by_id(params[:subject]).wish == 10 %>
        <b> a month </b> 
      <% elsif wish == 20 %>
        <b> 3 months </b> 
      <% elsif wish == 30 %>
        <b> 6 months </b> 
      <% end %>
    as per your wishes! </label></p>

    <%= submit_tag 'Send', class: 'btn btn-primary', id: 'agree-and-send' %>
  <% end %>
<% else %>
  <div class="condition-toast">
    Interesting, but don't see the point in talking to yourself!
  </div>
  <span style="color: #3E89C1"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
  <%= link_to "Back", givings_path %>
<% end %>