<% page_header "Start Conversation" %>
  
  <div class="round-image-50">
    <%= image_tag(User.find(params[:recipient]).avatar.url(:thumb)) %>
  </div>

  <%= User.find(params[:recipient]).name %>
  <br/>
  <i> Subject: <%= Giving.find(params[:subject]).name %> </i>

<%= form_tag messages_path, method: :post do %>
  <div class="form-group">
    <%= text_field_tag 'message[subject]', nil, type: 'hidden', class: 'form-control', value: params[:subject], required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, rows: 4, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= text_field_tag 'recipients', nil, type: 'hidden', value: [params[:recipient]] %>
  </div>

  <p> <label class="checkbox-text"><input type="checkbox" class="agreement"> I agree to re-give this as per your wishes! </label></p>

  <%= submit_tag 'Send', class: 'btn btn-primary' %>
<% end %>
