<div>
	<div><%= image_tag(@user.avatar.url(:medium), class: "profile-pic") %></div>
	<div class="profile-name"><%= @user.name %> </div>
	<% @giver_location = @user.zip %>
   	<div class="user-location">
   		<% if !@giver_location.nil? && @giver_location > 0 %>
   			<%= @giver_location.to_s.to_region %>
   		<% end %>
   	</div>
	<% if @user.givings.count > 0 %>
		<div class="profile-timestamp"><span class="badge givings"><%= @user.givings.count %> </span> Givings since <%= @user.created_at.strftime("%B, %Y") %> </div>
		<div class="givings-header">
			<div class="givings-header left"> <h3> Givings </h3>
			</div>
		</div>
		<div class="floating-box givings">
			<% @user_givings.each do |giving| %>
				<div class="giving-preview"> 
					<div class="giving-preview-image">
						<%= link_to(image_tag(giving.image.url(:thumb)), giving) %>
					</div>
					<div class="giving-preview-title">
						<%= link_to giving.name, giving %> 
					</div>
				</div>
			<% end %>
			<div>
				<%= will_paginate @user_givings %>
			</div>
		</div>
	<% else %>
		<div class="profile-timestamp">Member since <%= @user.created_at.strftime("%B, %Y") %></div>
	<% end %>
</div>

<h3><b>User Reviews</b></h3>
<div style="margin-left: 15px;">
	<div style="margin-bottom: 15px;">
		<% @user.comments.each do |comment| %>
			<div class="comment-card">
				<div class="comment-card user">
					<div class="round-image-50">
						<a href="/profiles/<%= comment.commenter%>"><%= image_tag(User.find_by_id(comment.commenter).avatar.url(:thumb)) %></a>
					</div>
					<%= User.find_by_id(comment.commenter).name %>
				</div>
				<div class="comment-card body">
					<!-- Todo: move to backend -->
					<% if User.find_by_id(comment.commenter).voted_up_on? @user, vote_scope: 'user_rating' %>
						<span style="color:#337ab7">Rated positive <i class="fa fa-smile-o" aria-hidden="true"></i></span>
					<% elsif User.find_by_id(comment.commenter).voted_down_on? @user, vote_scope: 'user_rating' %>
						<span style="color:#ab1911">Rated negative <i class="fa fa-frown-o" aria-hidden="true"></i></span>
					<% end %><br>
		    		<%= comment.body %>
		    	</div>
	    	</div>
		<% end %>
	</div>

	<% if @canComment %>
		<div class="bookmark-section" style="margin-bottom: 10px;">
			<% if @ratedPositive %>
				<span style="color:#337ab7"><i class="fa fa-smile-o" aria-hidden="true"></i> You rated positive</span>
			<% elsif @ratedNegative %>
				<span style="color:#ab1911"><i class="fa fa-frown-o" aria-hidden="true"></i> You rated negative</span>
			<% else %>
				<div>Rate your recent experience dealing with <%= @user.first_name %>
				</div>
				<%= link_to rate_user_positive_path(@user), method: :put do %>
					<i class="fa fa-smile-o" aria-hidden="true"></i> Positive
				<% end %> | 
				<%= link_to rate_user_negative_path(@user), method: :put do %>
					<i class="fa fa-frown-o" aria-hidden="true"></i> Negative
				<% end %>
			<% end %>
		</div>

		<div class="bookmark-section">
			<%= form_for([@user, @user.comments.build]) do |f| %>
				<p> <%= f.text_area :body, cols: 35, rows: 4, placeholder: "Add comments...", required: true %> </p>
				<%= f.submit "Add", class: "btn btn-primary" %>
			<% end %>
		</div>
	<% end %>
</div>
