<script>
$(function() {
  $('#user_avatar').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      img.width = 100;
      $('#image-target').html(img);
      $('#upload-image-text').text('Change image');
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});
</script>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div id="image-target"><%= image_tag(current_user.avatar.url(:thumb)) %></div>
    <span class="btn btn-default btn-file">
    <span id="upload-image-text">Upload image</span> <%= f.file_field :avatar, accept: "image/*;capture=camera" %> 
    </span>
  </div>

  <div class="form-group">
    <%= f.text_field :first_name, placeholder: "First Name", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, placeholder: "Email" %>
  </div>

  <div class="form-group">
    <%= f.text_field :location, placeholder: "Postal Code" %>
    <%= f.object.location.to_region %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <!-- create a separate link for this later
  <div class="form-group">
    <%= f.password_field :password, placeholder: "New Password", autocomplete: "off" %>
  </div>
  -->

  <% if f.object.password_required? %>
    <div class="form-group">
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.password_field :current_password, placeholder: "Current Password", autocomplete: "off" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Update" %>
  </div>
<% end %>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= link_to "Back", :back %>
