<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.first_name %>!</h3>
    <p>
      <%= @requester.name %> is requesting for <%= @object.name %>.
      <p style="color:#205E65; margin-left: 10px;">
        "<%= @msg %>"
      </p>
      Please go to <%= @url + "/messages" %> for accepting this request.
    </p>
    <p>Thanks for usign GiversApp and have a great day!</p>
  </body>
</html>
