<% @giving = Giving.find_by_id(conversation.subject) %>
<% @today = Time.new().strftime("%m/%d/%Y") %>

<% if !@giving.nil? %>
	<% if conversation.is_unread?(current_user) %>
		<div class="list-group-item clearfix">
	<% else %>
		<div class="list-group-item disabled">
	<% end %>
			<% @user = User.find_by_id(conversation.originator) %>
	  		<%= link_to User.find_by_id(conversation.originator).name, conversation_path(conversation) %>
	  		| <%= @user.givings.count %>
	  		| <%= conversation.subject %>
			| <%= conversation.last_message.body %> |
			<% if @today == conversation.last_message.updated_at.strftime("%-d %B, %Y") %>
				<%= conversation.last_message.updated_at.strftime("%I:%M%p") %>
			<% else %>
				<%= conversation.last_message.updated_at.strftime("%-d %B, %Y") %>
			<% end %>
		</div>
<% end %>
