<% @giving = Giving.find_by_id(conversation.subject) %>
<% @today = Time.new() %>

<% if !@giving.nil? %>
	<% if conversation.is_unread?(current_user) %>
		<div class="topic-box unread">
	<% else %>
		<div class="topic-box read">
	<% end %>
			<%if @show_sentbox %>
				<% @user = User.find_by_id(conversation.recipients[0]) %>
			<% else %>
				<% @user = User.find_by_id(conversation.originator) %>
			<% end %>
			<div class="user-badge">
				<div class="round-image-50">
					<a href="/profiles/<%= @giving.user_id%>"><%= image_tag(@user.avatar.url(:thumb)) %></a>
				</div>
				<div class="user-credits">
					<div class="user_profile"><%= @user.name %></div>
					<div class="user-giving-history"><%= @user.givings.count %></div>
				</div>
			</div>
			<div class="message-preview">
			  	<div class="message-body">
			  		<%= link_to conversation.last_message.body, conversation_path(conversation) %>
			  	</div>
			</div>
			<div class="message-timestamp-column">
				<span class="message_timestamp">
					<% if @today.strftime("%m/%d/%Y") == conversation.last_message.updated_at.strftime("%m/%d/%Y") %>
						<%= conversation.last_message.updated_at.strftime("%I:%M%p") %>
					<% elsif @today.strftime("%Y") == conversation.last_message.updated_at.strftime("%Y") %>
						<%= conversation.last_message.updated_at.strftime("%-d %B") %>
					<% else %>
						<%= conversation.last_message.updated_at.strftime("%-d %B, %Y") %>
					<% end %>
				</span>
			</div>
		</div>
<% end %>
