<% page_header "Conversation" %>

<div class="panel panel-default">
  <div class="panel-heading"><%= @conversation.subject %></div>

  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <% message = receipt.message %>

        <span class="user_profile"> <%= message.sender.name %> </span> <br/>
        <%= message.body %> <br/>
        <span class="message_timestamp"><%= message.created_at.strftime("%-d %B %Y, %H:%M") %></span> <br/>
      <% end %>
    </div>
  </div>
</div>
<div class="btn btn-default">
  <% if !current_user.nil? %>
    <%= link_to "Delete", { action: :destroy }, 
    method: :delete, 
    data: { confirm: "Are you sure?" } %> <br>
  <% end %>
</div>