<script>
  function submitOnClick(formName){
      console.log("Hello..", $('textarea#reply_message').val());
      if ($('textarea#reply_message').val() !== "")
        document.forms[formName].submit();
  }
</script>

<% page_header "Conversation" %>

<% @subject = Giving.find_by_id(@conversation.subject) %>
<% if @subject.nil? %>
  <% @subject = "** This giving has been deleted **" %>
<% else %>
  <% @subject = @subject.name %>
<% end %>

<% if true %> <!-- release this based on feedback -->
  <div style="float: right; padding: 10px 2px;">
    <% if !current_user.nil? %>
      <%= link_to "Delete", { action: :destroy }, 
      method: :delete, 
      data: { confirm: "Are you sure?" } %> <br>
    <% end %>
  </div> 
<% end %>

<% user_deleted = false %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= @subject %>
  </div>
  <% @conversation.participants.each do |user| %>
    <% if user.id != current_user.id %>
      <div class="round-image-50">
        <a href="/profiles/<%=user.id%>">
          <%= image_tag(User.find_by_id(user.id).avatar.url(:thumb)) %>
        </a>
      </div>
      <div style="display: inline-block;vertical-align: top;">
        <div class="user_profile"><%=user.name%></div>
        <div>User since sometime</div>
      </div>
    <% end %>
  <% end %>
  <div class="panel-body">
    <div class="messages" id="message_panel">
      <% @last_user = nil %>
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <% message = receipt.message %>

        <% @squeeze = "squeeze" %>
        <% if message.sender.id != @last_user %>
          <% @squeeze = "" %>
        <% end %>

        <% @msg_status = "" %>
        <% if message.body == "Confirmed receiving!" %>
          <% @msg_status= "confirmed" %>
        <% elsif message.body == "Request accepted!" %>
          <% @msg_status= "accepted" %>
        <% end %>

        <!-- <ConfirmedReceivingToken> -->
        <!-- <RequestAcceptedToken>  -->

        <% if message.sender.nil? %>
          <% user_deleted = true %>
          <div>*** USER DELETED ***</div>
        <% elsif message.sender.id == current_user.id %>
          <div class="message-bubble right <%=@squeeze%> <%=@msg_status%>">
        <% else %>
          <div class="message-bubble left <%=@squeeze%> <%=@msg_status%>">
        <% end %>

          <div>
            <% if message.sender.id != @last_user %>
              <div class="user_profile"> <%= message.sender.name %> </div>
            <% end %>
            <div><%= message.body %> </div>
            <% @today = Time.new().strftime("%m/%d/%Y") %>
            <span class="message_timestamp" style="color: #858585">
            <% if @today == message.created_at.strftime("%m/%d/%Y") %>
              <%= message.created_at.strftime("%I:%M%p") %>
            <% else %>
              <%= message.created_at.strftime("%-d %B, %Y") %>
            <% end %>
            </span>
          </div>

        </div>
        <% @last_user = message.sender.id %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function scrollToBottom() {
    console.log("scrolling to the bottom message");
    var objDiv = document.getElementById("message_panel");
    objDiv.scrollTop = objDiv.scrollHeight;
  })();
</script>

<% if user_deleted == false %>
  <% if current_user != @conversation.originator %>
    <% @giving = Giving.find_by_id(@conversation.subject) %>
    <% if !@giving.nil? %>
      <% @given = false %>
      <% @recipient = -1 %>

      <!-- Todo: need to reflect giving statuses -->
      <% if !@giving.status.nil? && @giving.status >= 1 %>
        <% @given = true %>
      <% end %>

      <% @giving.transfers.each do |transfer| %>
        <% if transfer.conversation == @conversation.id %>
          <% @recipient = transfer.to_id %>
        <% end %>
      <% end %>

      <%= form_for :message, url: reply_conversation_path, :html => {:id => "form_reply"} do |f| %>
      <div class="input-group">
          <%= f.text_area 'body', rows: "3", class: 'input-reply-message', style: "resize:none", required: true, placeholder: "Your reply...", autofocus: true, id: "reply_message" %>
          <span onclick="submitOnClick('form_reply')" class="btn-reply" %>Send
          </span>
      </div>
      <% end %>

      <% if !@given %>
        <div style="margin-top: 20px;">
          <%= form_for([@giving, @giving.transfers.build]) do |f| %>
            <%= f.hidden_field :recipient, :value => @conversation.originator.id %>
            <%= f.hidden_field :conversation, :value => @conversation.id %>
            <%= f.submit "Accept Request", class: "btn-primary" %>
          <% end %><br/>
        </div>
      <% else %>
      <br>
        <% if @giving.status < 101 %>
          <div class="condition-toast">
            <% if @recipient == @conversation.originator.id %>
                You accepted this request! Please arrange for an exchage of this giving.
            <% else %>
              You already gave this book to another user.
            <% end %>
          </div>
        <% end %>
      <% end %>

    <% end %>
  <% else %>
    <%= form_for :message, url: reply_conversation_path, :html => {:id => "form_reply"} do |f| %>
      <div class="input-group">
          <%= f.text_area 'body', rows: "3", class: 'input-reply-message', style: "resize:none", required: true, placeholder: "Your reply...", autofocus: true, id: "reply_message" %>
          <span onclick="submitOnClick('form_reply')" class="btn-reply" %>Send
          </span>
      </div>
    <% end %>

    <% @giving = Giving.find_by_id(@conversation.subject) %>
    <!-- Todo: need to reflect giving statuses -->
    <% if !@giving.status.nil? && @giving.status >= 1 %>
      <% @given = true %>
    <% end %>

    <!-- prospective recipient -->
    <% if @given && @giving.prospective_user == current_user.id %>
      <div style="margin-top: 20px;">
        <%= link_to "Confirm Receiving", confirm_getting_giving_path(@giving.id, :recipient => current_user.id), class: "btn-primary" %><br/><br/>
      </div>
    <% end %>
  <% end %>
<% end %>

<span style="color: #3E89C1"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
<%= link_to "Back", conversations_path %><br><br>

<% @conversation.mark_as_read(current_user) %>