<section id="box-blocks">

<% @givingList = nil %>
<% @givingListName = "" %>

<% if !@myGivings.nil? %>
	<% @givingList = @myGivings %>
	<% @givingListName = "My Givings" %>
<% elsif !@myHoldings.nil? %>
	<% @givingList = @myHoldings %>
	<% @givingListName = "My Holdings" %>
<% elsif !@myFavorites.nil? %>
	<% @givingList = @myFavorites %>
	<% @givingListName = "My Favorites" %>
<% end %>
	
<% if !@givingList.nil? %>
	<h3> <%= @givingListName %> </h3>
	<% @givingList.each do |giving| %>
		<div class="giving-preview"> 
			<div class="giving-preview-image">
				<%= link_to(image_tag(giving.image.url(:thumb)), giving) %>
			</div>
			<div class="giving-preview-title">
				<%= link_to giving.name, giving %> 
			</div>
		</div>
	<% end %>
<% else %>
		<div class="floating-box give">
			<p id="give-section"> <%= link_to "Give", new_giving_path, class: "give-action" %> </p>
		</div>
		<div class="givings-header"> 
			<div class="givings-header left"><h3>Givings</h3> </div>
			<div class="givings-header right">
				<input class="givings-header-search" type="text_field" placeholder="New York" size="9"/>
			</div>
		</div>
		<div class="floating-box give">
			<% @givings.each do |giving| %>
				<div class="giving-preview"> 
					<div class="giving-preview-image">
						<%= link_to(image_tag(giving.image.url(:thumb)), giving) %>
					</div>
					<div class="giving-preview-title">
						<%= link_to giving.name, giving %> 
					</div>
				</div>
			<% end %>
			<div>
				<%= will_paginate @givings %>
			</div>
		</div>
<% end %>

</section>