<section id="box-blocks">

<% @givingList = nil %>
<% @givingListName = "" %>

<% if !@myGivings.nil? %>
	<% @givingList = @myGivings %>
	<% @givingListName = "My Givings" %>
<% elsif !@myHoldings.nil? %>
	<% @givingList = @myHoldings %>
	<% @givingListName = "My Holdings" %>
<% elsif !@myFavorites.nil? %>
	<% @givingList = @myFavorites %>
	<% @givingListName = "My Wishlist" %>
<% elsif !@searchResults.nil? %>
	<% @givingList = @searchResults %>
	<% @givingListName = "Results for \""+ @searchTerm + "\"" %>
<% end %>
	
<% if !@givingList.nil? %>
  <div class="givings-header" style="margin-top: 15px; margin-bottom: 25px;">
      <div class="givings-header-left"><h3><%= @givingListName %></h3></div>
  </div>
	<% @givingList.each do |giving| %>
		<div class="giving-preview"> 
			<div class="giving-preview-image">
				<%= link_to(image_tag(giving.image.url(:thumb)), giving) %>
			</div>
			<div class="giving-preview-title">
				<%= link_to giving.name, giving %> 
			</div>
		</div>
	<% end %>
	<br>
	<br>
	<span style="color: #3E89C1"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
	<%= link_to "Back", givings_path %><br>
<% else %>
		<div class="floating-box-give">
			<p id="give-section"> <%= link_to "Give", new_giving_path, class: "give-action" %> </p>
		</div>
		<div class="givings-header"> 
			<div class="givings-header-left">
				<h3 style="display: inline-block;">Offers</h3>
				<div class="givings-local">near you</div>
				<div class="givings-local-mobile">local</div>
			</div>
			<div class="givings-header-right">
				<form action="<%= givings_path %>" method="get">
					<input type="text" name="query" id="query" size="12" required="required">
	  				<button type="submit">
				    	<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
			</div>
		</div>
		<div class="floating-box-givings">
			<% if @givings.count == 0 %>
				<div class="condition-toast" style="margin-top: 50px;width: 70%;margin-left: auto; margin-right: auto;">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					Sorry. No offers are available near you.
				</div>
				<div class="condition-info" style="margin-top: 30px;width: 70%;margin-left: auto; margin-right: auto;">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					Be the first to give! <br>Perhaps that book on the shelf that has been collecting dust for years?!
				</div>
			<% end %>
			<% @givings.each do |giving| %>
				<div class="giving-preview"> 
					<div class="giving-preview-image">
						<%= link_to(image_tag(giving.image.url(:thumb)), giving) %>
					</div>
					<div class="giving-preview-title">
						<%= link_to giving.name, giving %> 
					</div>
				</div>
			<% end %>
			<div>
				<%= will_paginate @givings %>
			</div>
		</div>
<% end %>

</section>