<h1>Add My Giving</h1>

<%= form_for :giving, url: givings_path do |f| %>
	<p> <%= f.text_field :name, placeholder: "Name" %> </p>
	<p> <%= f.file_field :image %> </p>
	<p> <%= f.text_area :desc, cols: "22", rows: "3", placeholder: "Few words on this Giving..." %> </p>
	<%= f.submit "Add Giving", class:"btn btn-primary" %> <br>
<% end %>
