
<div class="main-content">
  <div class="givings-header" style="margin-top: 15px; margin-bottom: 25px;">
      <div class="givings-header-left"><h3>Add A Giving </h3></div>
  </div>
  <%= form_for :giving, url: givings_path do |f| %>
  	<p> <%= f.text_field :name, placeholder: "Name", class: "giving-name-input", :required => true, autofocus: true %> </p>
  	<p> <div id="image-target"> </div>
  	<span class="btn-default btn-file">
  	<span id="upload-image-text">Add image</span> <%= f.file_field :image, accept: "image/*;capture=camera" %> 
  	</span></p>
  	<%= f.text_area :desc, rows: "3", placeholder: "Few words about this Giving...", class: "giving-name-input" %> </p>
  	<div class="regive-condition">
      <div style="display: inline-block; vertical-align: top;"> <i class="fa fa-calendar-check-o" style="color:#9E0652"> </i> </div>
      <div class="condition"> I wish this to be re-given in
  	   <%= f.select :wish, options_for_select([["1 month", 10], ["3 months", 20], ["6 months", 30], ["1 year", 40], ["2 years", 50]]), class: "giving-wish-input" %> 
      </div>
    </div>
    <div>
  	 <%= f.submit "Give", class:"btn-primary" %>
    </div>
  <% end %>
</div>
<br>

<script>
(function() {
  var giving_image = document.querySelector("#giving_image");
  giving_image.onchange = function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.src = file.target.result;
      img.width = 150;
      var image_target = document.querySelector("#image-target");
      image_target.removeChild(image_target.firstChild);
      image_target.appendChild(img);
      document.querySelector("#upload-image-text").textContent = "Change image";
    }
    reader.readAsDataURL(image);
  }
})();
</script>