
<h2> <%= @giving.name %> </h2>
<!-- <%= image_tag("gift.jpg", :alt => "Giving") %> -->
<%= image_tag @giving.image.url(:medium) %>
<p> <%= @giving.desc %> <br><br>
Giver wishes this to be re-given in 
<% if @giving.wish == 10 %>
	<b> a month. </b> 
<% elsif @giving.wish == 20 %>
	<b> 3 months. </b> 
<% elsif @giving.wish == 30 %>
	<b> 6 months. </b> 
<% end %>
	<br>
<% if !current_user.nil? %>
	<% if current_user.id == @giving.user_id %>
		<%= link_to "Delete", { action: :destroy }, 
		method: :delete, 
		data: { confirm: "Are you sure?" } %> <br>
	<% end %>
<% end %>

<% if !current_user.nil? %>
	<% if current_user.id != @giving.user_id %>
		Posted by <b> <%= User.find(@giving.user_id).email %> </b>
	<% end %>
<% end %>
</p>

<% if !current_user.nil? %>
	<% if current_user.id == @giving.user_id %>
		<p>
			<% if !@giving.asks.nil? && @giving.asks.count > 0 %>
				<span class="step"><%= @giving.asks.count %></span><i>re-givers asked for this. </i>
			<% end %>
		</p>
		<div class="indent">
			<% @giving.asks.each do |ask| %>
				<p><b><%= User.find(ask.user_id).email %> </b><br>
				<%= ask.comment %> <br>
				<% if ask.status == 0 %>
				<%= link_to "Accept", edit_ask_path(id: ask.id, giving_id: @giving.id) %></p>
				<% else %>
					<span style="color:green"><i>You already accepted this request! </i></span>
				<% end %>
			<% end %>
		</div>
	<% else %>
		<div class="indent">
			<% if !@already_asked %>
				<%= form_for([@giving, @giving.asks.build]) do |f| %>
					<p> <input type="checkbox"> I agree to re-give this as per Givers wishes! </p>
					<p> <%= f.text_area :comment, cols: 26, placeholder: "Few words to the Giver..." %> </p>
					<%= f.submit "Ask", class: "btn btn-primary" %>
				<% end %>
			<% else %>
				<% if @ask_accepted %>
					<span style="color:green"><i>Your request was accepted on <%= @timestamp.to_s(:short) %>! </i></span>
				<% else %>
					<i>Your request sent on <%= @timestamp.to_s(:short) %> </i>
				<% end %>
			<% end %>
		</div>
	<% end %>
<% else %>
	<% if @giving.asks.count == 1 %>
		<b><%= @giving.asks.count %></b> <i>user has asked for this. </i>
	<% elsif @giving.asks.count > 1 %>
		<b><%= @giving.asks.count %></b> <i>users have asked for this. </i>
	<% end %>
<% end %>

<br>
<%= link_to "Back", givings_path %>
