
<h2><b> <%= @giving.name %></b> </h2>
<%= image_tag @giving.image.url(:medium) %>
<p> <%= @giving.desc %> <br>

<% if !current_user.nil? %>
	<% if current_user.id == @giving.user_id &&
		@giving.transfers.count == 0 %>
		<%= link_to "Delete", { action: :destroy }, 
		method: :delete, 
		data: { confirm: "Are you sure?" } %> <br>
	<% end %>
<% end %>


</p>
<span class="user_profile"> 
	<div class="round-image-50">
		<a href="/profiles/<%= @giving.user_id%>"><%= image_tag(User.find_by_id(@giving.user_id).avatar.url(:thumb)) %></a>
	</div>
	<%= User.find_by_id(@giving.user_id).name %>
	<% @giver_location = User.find_by_id(@giving.user_id).location %>
	<% if !@giver_location.nil? && @giver_location != "" %>
		<br><span class="user-location"><%= @giver_location.to_region %></span>
	<% end %>
	<% @giving.transfers.each do |transfer| %>
		<br> &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-down arrow" aria-hidden="true"></span>
		<div class="round-image-50">
			<a href="/profiles/<%= transfer.to%>"><%= image_tag(User.find_by_id(transfer.to).avatar.url(:thumb)) %></a>
		</div>
		<%= User.find_by_id(transfer.to).name %>
		<% @location = User.find_by_id(transfer.to).location %>
		<% if !@location.nil? %>
			<br><span class="user-location"><%= User.find_by_id(transfer.to).location.to_region %></span>
		<% end %>
	<% end %>
</span>
</p>  

<% if !@giving.status.nil? && @giving.status == 1 %>
	<% if !current_user.nil? && @giving.current_holder == current_user.id %>
		<%= link_to "Re-Give", regive_giving_path(@giving.id), class: "btn btn-primary" %><br>
	<% else %>
		<div class="condition-toast">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			Currently with <%= User.find_by_id(@giving.current_holder).name %> till end of this month. 
		</div>
	<% end %>
<% else %>
	<div class="condition-toast">
		<%= User.find_by_id(@giving.current_holder).name %> wishes this to be re-given in 
		<% if @giving.wish == 10 %>
			<b> a month. </b> 
		<% elsif @giving.wish == 20 %>
			<b> 3 months. </b> 
		<% elsif @giving.wish == 30 %>
			<b> 6 months. </b> 
		<% end %>
	</div>
	<% if current_user.nil? || current_user.id != @giving.current_holder %>
		<div>
			<%= link_to "Request", new_message_path(subject: @giving.id, recipient: @giving.current_holder), class: "btn btn-primary"%></p>
		</div>
	<% end %>
<% end %>

<br>
<span style="color: #3E89C1"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
<%= link_to "Back", givings_path %>
