
<h2><b> <%= @giving.name %></b> </h2>
<!-- <%= image_tag("gift.jpg", :alt => "Giving") %> -->
<%= image_tag @giving.image.url(:medium) %>
<p> <%= @giving.desc %> <br>

<% if !current_user.nil? %>
	<% if current_user.id == @giving.user_id %>
		<%= link_to "Delete", { action: :destroy }, 
		method: :delete, 
		data: { confirm: "Are you sure?" } %> <br>
	<% end %>
<% end %>


</p>
<span class="user_profile"> 
	<div class="round-image-50">
		<%= image_tag(User.find(@giving.user_id).avatar.url(:thumb)) %>
	</div>
	<%= User.find(@giving.user_id).name %> <br>
	<span class="user-location"><%= User.find(@giving.user_id).location.to_region %></span>
	<% @giving.transfers.each do |transfer| %>
		<br> &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-down arrow" aria-hidden="true"></span>
		<div class="round-image-50">
			<%= image_tag(User.find(transfer.to).avatar.url(:thumb)) %>
		</div>
		<%= User.find(transfer.to).name %>
		<% @location = User.find(transfer.to).location %>
		<% if !@location.nil? %>
			<br><span class="user-location"><%= User.find(transfer.to).location.to_region %></span>
		<% end %>
	<% end %>
</span>
</p>

<% if !@giving.status.nil? && @giving.status == 1 %>
	<div class="condition-toast">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		Sorry this is currently in-use till end of this month. 
	</div>
<% else %>
	<div class="condition-toast">
		Giver wishes this to be re-given in 
		<% if @giving.wish == 10 %>
			<b> a month. </b> 
		<% elsif @giving.wish == 20 %>
			<b> 3 months. </b> 
		<% elsif @giving.wish == 30 %>
			<b> 6 months. </b> 
		<% end %>
	</div>
	<% if current_user.nil? || current_user.id != @giving.user_id %>
		<div>
			<%= link_to "Request", new_message_path(subject: @giving.id, recipient: @giving.user_id), class: "btn btn-primary"%></p>
		</div>
	<% end %>
<% end %>

<br>
<%= link_to "Back", givings_path %>
