!!! 5
%html
%head
	%title GiversApp
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= csrf_meta_tags
	%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
	= favicon_link_tag 'givers-16x16.png', :rel => "icon", :type => "image/png"
	:css
		#options-dropdown { display : none; }

%body
	#full-content.full-content
		%nav
			.navbar-center
				.navbar-brand
					= link_to givings_path, class: "navbar-brand-logo" do
						= image_tag "givers-small.png"
					= link_to "Givers", givings_path

				- if user_signed_in?
					%ul.navbar-menu-account
						%li
							.desktop= link_to "Give", new_giving_path
						%li
							.desktop= link_to "Messages", conversations_path
							.mobile
								= link_to conversations_path(@user) do
									%i.fa.fa-envelope-o{"aria-hidden" => "true"}
							- if current_user.unread_inbox_count > 0
								.badge-message #{current_user.unread_inbox_count}

						%li.mobile
							#user-pic.round-image-50= link_to image_tag(current_user.avatar.url(:thumb)), "#"
				- else
					%ul.navbar-menu-signup
						%li
							.desktop= link_to "Sign up", new_user_registration_path
						%li= link_to "Sign In", new_user_session_path
	
		.options-dropdown-center
			#options-dropdown
				%li.editprofile=link_to "Edit Profile", edit_user_registration_path
				%li.leftindent=link_to "My Givings", conversations_path(:group => @group_by_givings)
				%li.leftindent=link_to "My Requests", conversations_path(:sent => "true", :group => @group_by_givings)
				%li.leftindent=link_to "My Wishlist", givings_path(:favorites => true)
				%li.signout= link_to "Sign Out", destroy_user_session_path, method: :delete

		.main-content
			#dark-overlay
			- flash.each do |name, msg|
				= content_tag :div, msg, class: "alert alert-info"
			
			= yield

	%footer.site-footer
		© 2017 GiversApp.org

	:javascript
		(function() {
			var user_pic = document.querySelector("#user-pic");
			if (!user_pic) 
				return;

			user_pic.onclick = function() {
				var options_dropdown = document.querySelector("#options-dropdown");
				var dark_overlay = document.querySelector("#dark-overlay");

				if (options_dropdown.style.display != 'none') {
					options_dropdown.style.display = 'none';
					dark_overlay.style.display = 'none';
				}
				else {
					options_dropdown.style.display = 'block';
					dark_overlay.style.display = 'block';
				}
			};
		})();

		document.onmouseup = function (e) {
			var container = document.querySelector("#options-dropdown");
			if (container != e.target &&
				!isDescendant(container, e.target)) {
				container.style.display = 'none';
				document.querySelector("#dark-overlay").style.display = 'none';
			}
		};

		function isDescendant(parent, child) {
			var node = child.parentNode;
			while (node != null) {
				if (node == parent) {
					return true;
				}
				node = node.parentNode;
			}
			return false;
		}
