!!! 5
%html
%head
	%title GiversApp
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%body
	.full-content
		%nav.navbar.navbar-default
			.container
				.navbar-brand= link_to "GiversApp", givings_path

				- if user_signed_in?
					%ul.nav.navbar-nav.navbar-right
						%li.desktop= link_to "Give", new_giving_path
						%li.mobile
							.float-to-right
								.side-by-side= link_to "Messages", conversations_path
								.side-by-side.mobile
									= link_to conversations_path(@user) do
										%i.fa.fa-envelope-o{"aria-hidden" => "true"}
								- if current_user.unread_inbox_count > 0
									.badge.message #{current_user.unread_inbox_count}
						%li.desktop= link_to "Sign Out", destroy_user_session_path, method: :delete

						%li.mobile
							.round-image-50= link_to image_tag(current_user.avatar.url(:thumb)), edit_user_registration_path
				- else
					%ul.nav.navbar-nav.navbar-right
						%li.desktop= link_to "Sign up", new_user_registration_path
						%li.float-to-right= link_to "Sign In", new_user_session_path
						%li.desktop= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
	
		.main-content
			- flash.each do |name, msg|
				= content_tag :div, msg, class: "alert alert-info"
			
			= yield

	%footer.site-footer
		© 2016 GiversApp.org