!!! 5
%html
%head
	%title GiversApp
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	.page
		%nav.navbar.navbar-default
			.container
				.navbar-brand= link_to "GiversApp", givings_path

				- if user_signed_in?
					%ul.nav.navbar-nav.navbar-right
						%li.desktop= link_to "Give", new_giving_path
						%li.desktop= link_to "Edit Profile", edit_user_registration_path
						%li= link_to "Messages", conversations_path
						%li.desktop= link_to "Sign Out", destroy_user_session_path, method: :delete

						%li.round-image-50= image_tag(current_user.avatar.url(:thumb))
				- else
					%ul.nav.navbar-nav.navbar-right
						%li= link_to "Sign up", new_user_registration_path
						%li= link_to "Sign In", new_user_session_path
		
		.main-content
			- flash.each do |name, msg|
				= content_tag :div, msg, class: "alert alert-info"
			
			= yield

		%footer
			© 2016 GiversApp.org