!!! 5
%html
%head
	%title GiversApp
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
	:javascript
		$(function() {
			$("#options-dropdown").hide();

			$("#user-pic").click(function() {
				if ($("#options-dropdown").is(":visible"))
					$("#options-dropdown").hide();
				else 
					$("#options-dropdown").show();
			});
		});

		$(document).mouseup(function (e) {
			var container = $("#options-dropdown");
			if (!container.is(e.target)
				&& container.has(e.target).length === 0) {
				container.hide();
			}
		});

%body
	#full-content.full-content
		%nav
			.navbar-center
				.navbar-brand
					= link_to givings_path, class: "navbar-brand-logo" do
						= image_tag "Gicycle.jpg"
					= link_to "Givers", givings_path

				- if user_signed_in?
					%ul.navbar-menu-account
						%li
							.desktop= link_to "Give", new_giving_path
						%li
							.desktop= link_to "Messages", conversations_path
							.mobile
								= link_to conversations_path(@user) do
									%i.fa.fa-envelope-o{"aria-hidden" => "true"}
							- if current_user.unread_inbox_count > 0
								.badge-message #{current_user.unread_inbox_count}

						%li.mobile
							#user-pic.round-image-50= link_to image_tag(current_user.avatar.url(:thumb)), "#"
				- else
					%ul.navbar-menu-signup
						%li
							.desktop= link_to "Sign up", new_user_registration_path
						%li= link_to "Sign In", new_user_session_path
	
		.options-dropdown-center
			#options-dropdown
				%li.editprofile=link_to "Edit Profile", edit_user_registration_path
				%li.leftindent=link_to "My Givings", conversations_path(:group => @group_by_givings)
				%li.leftindent=link_to "My Requests", conversations_path(:sent => "true", :group => @group_by_givings)
				%li.leftindent=link_to "My Wishlist", givings_path(:favorites => true)
				%li.signout= link_to "Sign Out", destroy_user_session_path, method: :delete

		.main-content
			- flash.each do |name, msg|
				= content_tag :div, msg, class: "alert alert-info"
			
			= yield

	%footer.site-footer
		© 2016 GiversApp.org